{% extends "layout.html" %}
{% block body %}
<div id="title_info">
<h1>Arreglos para Colombia</h1>
<select>
    <option value="hires">Aerofotografía para calcar</option>
    <option value="waystofix">Vías para arreglar</option>
    <option value="manynames">Intersección multinombrada</option>
</select>
<div>
    <div id="help_hires">
        <p>Estas son las zonas que tienen aerofotografía de alta resolución, tales zonas son
            susceptibles de ser mejoradas calcando ríos, ojos de agua, carreteras, e incluso
            casas.
    </div>
    <div id="help_waystofix" style="display:none;">
        <p>Hay vías que no tienen nombres adecuados, elija aquellas que desea arreglar en el
            panel derecho y cuando se proyecten en color rojo, puede pasar el mouse por encima
            de las mismas, hay opción para visualizar en osm, editar con josm o potlatch.
    </div>
    <div id="help_manynames" style="display:none;">
        <p>Hay intersecciones que lucen sospechosas, puesto que hay varias vías que llegan a ellas con nombres distintos, puede ser que algunas sean erróneas y requieran ser arregladas.  Esto servirá para poder contar con un geocoder bueno para el país.
    </div>
</div>
<h2 id="feature_name"></h2>
<span id="info_detail"></span>
<p id="goto" style="cursor:pointer;">Ver Colombia</p>
</div>
<div id="outer" style="width: 850px;position: relative;clear: both;">
    <div id="map" class="smallmap" style="width:600px; height:500px;float: left;">
    </div>
    <div id="main_list" style="width:200px; height:500px; overflow: auto;float: right;">
    <table class="entries" id="waystofix" style="display:none;">
    <tr><th>Tipo</th><th>Características</th>
      {% for entry in entries %}
        <tr><td><a onclick="showthing('{{ entry.name }}');" style="cursor:pointer;">{{ entry.name }}</a></td><td>{{ entry.cant }}</td></tr>
      {% else %}
    <!-- Nothing -->
      {% endfor %}
    </table>
    <table class="entries" id="hires">
        {% for poly in hires %}
        <tr><td data-hiresid="{{ poly.id }}" title="{{ poly.id }}" class="hiresitem" style="cursor:pointer;"><p>{{ poly.desc }}</td></tr>
        {% endfor %}
    </table>
    <table class="entries" id="manynames">
        {% for inter in intersections %}
        <tr><td data-lat="{{ inter.lat }}" data-lon="{{ inter.lon }}" title="{{ inter.id }}" class="intersection" style="cursor:pointer;"><p>{{ inter.desc }}</td></tr>
        {% endfor %}
    </table>
    </div>
</div>
<div>
    <div  id="id_geocode_div" style="display:none;">
        <form>
            <textarea id="id_sourcedirs" cols="30" rows="25">Carrera 57#66B
Calle 150A#101
Calle 70C#56B
Carrera 10#86
Calle 7B#20A
Carrera 7B#26 Sur
Calle 26 S#3E
Carrera 45A#34 Sur</textarea>
            <button id="id_geocode">-></button>
            <textarea id="id_result" cols="55" rows="25">
            </textarea>
        <form>
    </div>
    <span id="toggle_geocoder">Geocoder</span>
</div>
{% endblock %}

{% block js %}
function showthing(myfilter) {
    $.get("/show/"+myfilter,function(result){
        $("#feature_name").html(myfilter);
        var coder = new OpenLayers.Format.GeoJSON({
            'internalProjection': map.baseLayer.projection,
            'externalProjection': new OpenLayers.Projection("EPSG:4326")
        })
        var features = coder.read(result);
        var bounds;
        if(features) {
            if(features.constructor != Array) {
                features = [features];
            }
            for(var i=0; i<features.length; ++i) {
                if (!bounds) {
                    bounds = features[i].geometry.getBounds();
                } else {
                    bounds.extend(features[i].geometry.getBounds());
                }

            }
            waystofix.removeAllFeatures();
            waystofix.addFeatures(features);
            map.zoomToExtent(bounds);
            var plural = (features.length > 1) ? 's' : '';
        } else {
            console.log('Server error getting names with suspicious name' + type);
        }
    });
    return false;
}
$(function(){
    $("select").change(function(){
        switch($("select option:selected").val()){
            case "hires":
                manynameslayer.setVisibility(false);
                waystofix.setVisibility(false);
                hireslayer.setVisibility(true);
                $("#waystofix").hide();
                $("#hires").show();
                $("#help_hires").show();
                $("#help_waystofix").hide();
                $("#manynames").hide();
                $("#help_manynames").hide();
                $("#goto").click();
                break;
            case "waystofix":
                waystofix.setVisibility(true);
                hireslayer.setVisibility(false);
                manynameslayer.setVisibility(false);
                $("#waystofix").show();
                $("#hires").hide();
                $("#help_hires").hide();
                $("#help_waystofix").show();
                $("#manynames").hide();
                $("#help_manynames").hide();
                break;
            case "manynames":
                waystofix.setVisibility(false);
                hireslayer.setVisibility(false);
                manynameslayer.setVisibility(true);
                $("#waystofix").hide();
                $("#help_waystofix").hide();
                $("#hires").hide();
                $("#help_hires").hide();
                $("#manynames").show();
                $("#help_manynames").show();
                break;
        }
    });
});
$(".hiresitem").click(function(){
    for (var i=0; i < hireslayer.features.length; i++){
        if (hireslayer.features[i].fid === $(this).data('hiresid')){
            map.zoomToExtent(hireslayer.features[i].geometry.getBounds());
            return;
        }
    }
    return false;
});
$(".intersection").click(function(){
    map.moveTo(
        new OpenLayers.LonLat($(this).data('lon'), $(this).data('lat')).transform(
            new OpenLayers.Projection("EPSG:4326"),
            map.getProjectionObject()
        ), 18
    );
    $("#info_detail").html('{0} [ <a href="http://www.openstreetmap.org/?mlat={1}&mlon={2}&zoom=17" target="_blank">Ver</a> | <a href="http://www.openstreetmap.org/edit?lat={1}&lon={2}&zoom=17" target="_blank">Editar</a> | <a href="http://www.openstreetmap.org/edit?editor=remote&lat={1}&lon={2}&zoom=17">JOSM</a> ]'.format($(this).find("p").html(),$(this).data('lat'),$(this).data('lon')));
});
$('#id_geocode').click(function(){
    var button = $('#id_geocode');
    $.post('/geocoder', { dirs:$('#id_sourcedirs').val().toUpperCase()},
        function(result){
            var show = ""
            var res = result.answer;
            for(i=0;i < res.length; i++){
                show += res[i].incoming + ' -> ' + res[i].latlon + '\n';
            }
            $('#id_result').val(show);
            button.html(result.incoming + ' -> ' + result.resolved)
        }
    );
   return false;
});
$('#toggle_geocoder').click(function(){
    $('#id_geocode_div').slideToggle();
});
{% endblock %}
