{% extends "layout.html" %}
{% block body %}
<div id="title_info">
<h1>Arreglos para Colombia</h1>
<h2 id="feature_name"></h2>
<span id="info_detail"></span>
</div>
<div id="outer" style="width: 850px;position: relative;clear: both;">
    <div id="map" class="smallmap" style="width:600px; height:500px;float: left;">
    </div>
    <div id="main_list" style="width:200px; height:500px; overflow: auto;float: right;">
    <table class="entries">
    <tr><th>Tipo</th><th>Características</th>
      {% for entry in entries %}
        <tr><td><a onclick="showthing('{{ entry.name }}');" style="cursor:pointer;">{{ entry.name }}</a></td><td>{{ entry.cant }}</td></tr>
      {% else %}
    <!-- Nothing -->
      {% endfor %}
    </table>
    <table class="entries">
        <tr><th>Atributos</th></tr>
        {% for poly in hires %}
        <tr><td data-hiresid="{{ poly.id }}">{{ poly.desc }}</td></tr>
        {% endfor %}
    </table>
    </div>
</div>
{% endblock %}

{% block js %}
function showthing(myfilter) {
    $.get("/show/"+myfilter,function(result){
        $("#feature_name").html(myfilter);
        var coder = new OpenLayers.Format.GeoJSON({
            'internalProjection': map.baseLayer.projection,
            'externalProjection': new OpenLayers.Projection("EPSG:4326")
        })
        var features = coder.read(result);
        var bounds;
        if(features) {
            if(features.constructor != Array) {
                features = [features];
            }
            for(var i=0; i<features.length; ++i) {
                if (!bounds) {
                    bounds = features[i].geometry.getBounds();
                } else {
                    bounds.extend(features[i].geometry.getBounds());
                }

            }
            waystofix.removeAllFeatures();
            waystofix.addFeatures(features);
            map.zoomToExtent(bounds);
            var plural = (features.length > 1) ? 's' : '';
        } else {
            console.log('Server error ' + type);
        }
    });
    return false;
}
{% endblock %}
