{% extends "layout.html" %}
{% block body %}
<div id="id_geocode_div">
    <form>
        <textarea id="id_sourcedirs" cols="30" rows="5">Carrera 57#66B
Calle 150A#101
Calle 70C#56B
Carrera 10#86
Calle 7B#20A
Carrera 7B#26 Sur
Calle 26 S#3E
Carrera 45A#34 Sur</textarea>
        <button id="id_geocode">-></button>
    </form>
</div>
<span id="toggle_geocoder">Geocoder</span>

<div id="title_info">
    <h1>Arreglos para Colombia</h1>
    <select>
        <option value="">---------------</option>
        <option value="hires" selected >Aerofotografía para calcar</option>
        <option value="waystofix">Vías para arreglar</option>
        <option value="manynames">Intersección multinombrada</option>
    </select>
    <div>
        <div id="help_hires" class="help">
            <p>Estas son las zonas que tienen aerofotografía de alta resolución, tales zonas son
                susceptibles de ser mejoradas calcando ríos, ojos de agua, carreteras, e incluso
                casas.
        </div>
        <div id="help_waystofix" class="help">
            <p>Hay vías que no tienen nombres adecuados, elija aquellas que desea arreglar en el
                panel derecho y cuando se proyecten en color rojo, puede pasar el mouse por encima
                de las mismas, hay opción para visualizar en osm, editar con josm o potlatch.
        </div>
        <div id="help_manynames" class="help">
            <p>Hay intersecciones que lucen sospechosas, puesto que hay varias vías que llegan a ellas con nombres distintos, puede ser que algunas sean erróneas y requieran ser arregladas.  Esto servirá para poder contar con un geocoder bueno para el país.
        </div>
        <div id="help_georeference" class="help">
            <p>Dada una porción de la dirección, se muestra aquellos sitios en los cuales los datos de openstreetmap permiten saber el sitio y las ciudades en las que está presente tal intersección. Por ejemplo, intente Calle 5#5.
        </div>
    </div>
    <h2 id="feature_name"></h2>
    <span id="info_detail"></span>
    <p id="goto">Ver Colombia</p>
</div>
<div id="outer" >
    <div id="map" class="smallmap"></div>
    <div id="main_list">
        <table class="entries" id="waystofix">
            <tr><th>Tipo</th><th>Características</th>
              {% for entry in entries %}
                <tr><td><a class="fixable_item" data-name="{{ entry.name }}">{{ entry.name }}</a></td><td>{{ entry.cant }}</td></tr>
              {% else %}
            <!-- Nothing -->
              {% endfor %}
        </table>
        <table class="entries" id="hires">
            {% for poly in hires %}
            <tr><td data-hiresid="{{ poly.id }}" title="{{ poly.id }}" class="hiresitem"><p>{{ poly.desc }}</td></tr>
            {% endfor %}
        </table>
        <table class="entries" id="manynames">
            {% for inter in intersections %}
            <tr><td data-lat="{{ inter.lat }}" data-lon="{{ inter.lon }}" title="{{ inter.id }}" class="intersection"><p>{{ inter.desc }}</td></tr>
            {% endfor %}
        </table>
        <table class="entries" id="id_georeference">
        </table>
    </div>
</div>
{% endblock %}

{% block js %}

$(function(){
    $("select").change(function(){
        switch($("select option:selected").val()){
            case "hires":
                manynameslayer.setVisibility(false);
                waystofix.setVisibility(false);
                hireslayer.setVisibility(true);
                geocoderresults.setVisibility(false);
                $("#waystofix").hide();
                $("#hires").show();
                $("#help_hires").show();
                $("#help_waystofix").hide();
                $("#manynames").hide();
                $("#help_manynames").hide();
                $("#goto").click();
                break;
            case "waystofix":
                waystofix.setVisibility(true);
                hireslayer.setVisibility(false);
                manynameslayer.setVisibility(false);
                geocoderresults.setVisibility(false);
                $("#waystofix").show();
                $("#hires").hide();
                $("#help_hires").hide();
                $("#help_waystofix").show();
                $("#manynames").hide();
                $("#help_manynames").hide();
                break;
            case "manynames":
                waystofix.setVisibility(false);
                hireslayer.setVisibility(false);
                manynameslayer.setVisibility(true);
                geocoderresults.setVisibility(false);
                $("#waystofix").hide();
                $("#help_waystofix").hide();
                $("#hires").hide();
                $("#help_hires").hide();
                $("#manynames").show();
                $("#help_manynames").show();
                break;
        }
    });
    $(".fixable_item").click(function (evt) {
        showthing($(evt.target).data('name'));
        return false;
    });
    $(".hiresitem").click(function(evt){
        var elem = $(evt.target).closest('td');
        for (var i=0; i < hireslayer.features.length; i++){
            if (hireslayer.features[i].fid === elem.data('hiresid')){
                map.zoomToExtent(hireslayer.features[i].geometry.getBounds());
                return;
            }
        }
        return false;
    });
    $(".intersection").click(function(evt){
        var elem = $(evt.target).closest('td');
        map.moveTo(
            new OpenLayers.LonLat(elem.data('lon'), elem.data('lat')).transform(
                new OpenLayers.Projection("EPSG:4326"),
                map.getProjectionObject()
            ), 18
        );
        $("#info_detail").html('{0} [ <a href="http://www.openstreetmap.org/?mlat={1}&mlon={2}&zoom=17" target="_blank">Ver</a> | <a href="http://www.openstreetmap.org/edit?editor=id&lat={1}&lon={2}&zoom=17" target="_blank">Editar</a> | <a href="http://www.openstreetmap.org/edit?editor=remote&lat={1}&lon={2}&zoom=17">JOSM</a> ]'.format(elem.find("p").html(),elem.data('lat'),elem.data('lon')));
        return false;
    });

    $('#id_georeference').on('click', '.referenced', function(evt){
        var elem = $(evt.target).closest('td');
        map.moveTo(
            new OpenLayers.LonLat(elem.data('lon'), elem.data('lat')).transform(
                new OpenLayers.Projection("EPSG:4326"),
                map.getProjectionObject()
            ), 18
        );
        $("#info_detail").html('{0} [ <a href="http://www.openstreetmap.org/?mlat={1}&mlon={2}&zoom=17" target="_blank">Ver</a> | <a href="http://www.openstreetmap.org/edit?editor=id&lat={1}&lon={2}&zoom=17" target="_blank">Editar</a> | <a href="http://www.openstreetmap.org/edit?editor=remote&lat={1}&lon={2}&zoom=17">JOSM</a> ]'.format(elem.find("p").html(),elem.data('lat'),elem.data('lon')));
        return false;
    });
    $('#id_geocode').click(function(evt){
        var button = $(evt.target);
        if ($('#id_sourcedirs').val().trim().length === 0 )
            return false;
        $.post('/geocoder', { dirs:$('#id_sourcedirs').val().toUpperCase()},
            function(result){
                var show = ""
                var res = result.answer;
                var vars;
                var ll
                var size = new OpenLayers.Size(25,41);
                var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
                var icon = new OpenLayers.Icon('http://www.openstreetmap.org/assets/images/marker-icon.png',size,offset);
                var counter = 1;
                var changed = false;
                bounds = new OpenLayers.Bounds();
                geocoderresults.clearMarkers();
                $('#id_georeference').html('');
                for(i=0;i < res.length; i++){
                    if (res[i].latlon === undefined || res[i].latlon === null || res[i].latlon.length == 0 )
                        continue;
                    vars = res[i].latlon.split('|');
                    for (j=0; j< vars.length; j++) {
                        var ll = vars[j].split(',');

                        if (ll.length !== 2)
                            continue;
                        counter += 1;
                        point = new OpenLayers.LonLat(ll[1],ll[0]).transform(
                            new OpenLayers.Projection("EPSG:4326"),
                            map.getProjectionObject()
                        )
                        $('#id_georeference').append('<tr><td data-lat="{0}" data-lon="{1}" title="{2}" class="referenced" data-idgeo="{3}"><p>{2}</td></tr>'.format(ll[0], ll[1], res[i].incoming, res[i].incoming, counter));
                        var marker = new OpenLayers.Marker(point, icon.clone());
                        marker.legend = res[i].incoming;
                        marker.lat = ll[0];
                        marker.lon = ll[1];
                        marker.events.register('mousedown', marker, function(evt) { 
                            $("#info_detail").html('{0} [ <a href="http://www.openstreetmap.org/?mlat={1}&mlon={2}&zoom=17" target="_blank">Ver</a> | <a href="http://www.openstreetmap.org/edit?editor=id&lat={1}&lon={2}&zoom=17" target="_blank">Editar</a> | <a href="http://www.openstreetmap.org/edit?editor=remote&lat={1}&lon={2}&zoom=17">JOSM</a> ]'.format(evt.object.legend, evt.object.lat, evt.object.lon));
                        });
                        geocoderresults.addMarker(marker);
                        bounds.extend(point);
                        changed = true;
                    }
                }
                if (changed) {
                    map.zoomToExtent(bounds);
                    button.html(result.incoming + ' -> ' + result.resolved)
                    manynameslayer.setVisibility(false);
                    waystofix.setVisibility(false);
                    geocoderresults.setVisibility(true);
                    hireslayer.setVisibility(false);
                    $("select").val('');
                    $('#id_geocode_div').hide();
                    $('#waystofix,#hires,#manynames, .help').hide();
                    $('#georeference,#help_georeference').show();
                }
                else{
                    $('#georeference').html('');
                    alert('No fue posible deducir georeferencia')
                }
                $('#id_sourcedirs').val('');
            }
        );
       return false;
    });
    $('#toggle_geocoder').click(function(evt){
        $('#id_geocode_div').slideToggle();
        if ($('#id_geocode_div').is(':visible'))
            $('#id_sourcedirs').focus();
    });
});
{% endblock %}
